# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [3]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

In [4]:
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [5]:
wine.columns

Index(['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28',
       '2.29', '5.64', '1.04', '3.92', '1065'],
      dtype='object')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [6]:
wine_new = wine.drop(['1','2.43','2.8','.28','5.64','3.92','1065'], axis=1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [7]:
wine_new.columns = ['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

In [8]:
wine_new.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

In [9]:
wine_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            177 non-null    float64
 1   malic_acid         177 non-null    float64
 2   alcalinity_of_ash  177 non-null    float64
 3   magnesium          177 non-null    int64
 4   flavanoids         177 non-null    float64
 5   proanthocyanins    177 non-null    float64
 6   hue                177 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 9.8 KB

In [10]:
wine_new['alcohol'].nunique()

125

In [11]:
wine_new['alcohol'].unique()

array([13.2 , 13.16, 14.37, 13.24, 14.2 , 14.39, 14.06, 14.83, 13.86,
       14.1 , 14.12, 13.75, 14.75, 14.38, 13.63, 14.3 , 13.83, 14.19,
       13.64, 12.93, 13.71, 12.85, 13.5 , 13.05, 13.39, 13.3 , 13.87,
       14.02, 13.73, 13.58, 13.68, 13.76, 13.51, 13.48, 13.28, 13.07,
       14.22, 13.56, 13.41, 13.88, 14.21, 13.9 , 13.94, 13.82, 13.77,
       13.74, 13.29, 13.72, 12.37, 12.33, 12.64, 13.67, 12.17, 13.11,
       13.34, 12.21, 12.29, 13.49, 12.99, 11.96, 11.66, 13.03, 11.84,
       12.7 , 12.  , 12.72, 12.08, 12.67, 12.16, 11.65, 11.64, 12.69,
       11.62, 12.47, 11.81, 12.6 , 12.34, 11.82, 12.51, 12.42, 12.25,
       12.22, 11.61, 11.46, 12.52, 11.76, 11.41, 11.03, 12.77, 11.45,
       11.56, 11.87, 12.07, 12.43, 11.79, 12.04, 12.86, 12.88, 12.81,
       12.53, 12.84, 13.36, 13.52, 13.62, 12.87, 13.32, 13.08, 12.79,
       13.23, 12.58, 13.17, 13.84, 12.45, 14.34, 12.36, 13.69, 12.96,
       13.78, 13.45, 12.82, 13.4 , 12.2 , 14.16, 13.27, 14.13])

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [12]:
wine_new.loc[[0,1,2],'alcohol'] = np.nan

In [13]:
wine_new['alcohol']

0        NaN
1        NaN
2        NaN
3      13.24
4      14.20
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 177, dtype: float64

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [14]:
wine_new.loc[[3,4], 'magnesium'] = np.nan

In [15]:
wine_new['magnesium']

0      100.0
1      101.0
2      113.0
3        NaN
4        NaN
       ...
172     95.0
173    102.0
174    120.0
175    120.0
176     96.0
Name: magnesium, Length: 177, dtype: float64

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [16]:
wine_new['alcohol'] = wine_new['alcohol'].fillna(10)

In [17]:
wine_new['magnesium'] = wine_new['magnesium'].fillna(100)

In [18]:
wine_new['magnesium']

0      100.0
1      101.0
2      113.0
3      100.0
4      100.0
       ...
172     95.0
173    102.0
174    120.0
175    120.0
176     96.0
Name: magnesium, Length: 177, dtype: float64

### Step 9. Count the number of missing values

In [19]:
wine_new.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [21]:
np.random.seed(0)
random_indices = np.random.randint(0,11,(10))

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [25]:
wine_new.loc[random_indices, :] = np.nan

In [26]:
wine_new.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.0,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [27]:
wine_new.isna().sum()

alcohol              7
malic_acid           7
alcalinity_of_ash    7
magnesium            7
flavanoids           7
proanthocyanins      7
hue                  7
dtype: int64

### Step 13. Delete the rows that contain missing values

In [38]:
wine_new.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [39]:
wine_new.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [42]:
wine_new['alcohol']

1      10.00
6      14.06
8      13.86
10     14.12
11     13.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 170, dtype: float64

In [41]:
print(wine_new['alcohol'].dropna())

1      10.00
6      14.06
8      13.86
10     14.12
11     13.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 170, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [43]:
wine_new.sort_index()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [44]:
wine_new.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
1,6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
2,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
3,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...,...
165,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [45]:
wine_new.reset_index(drop=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,2.36,18.6,101.0,3.24,2.81,1.03
1,14.06,2.15,17.6,121.0,2.51,1.25,1.06
2,13.86,1.35,16.0,98.0,3.15,1.85,1.01
3,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
165,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.

Create a new column called alcohol_content_grams that calculates the alcohol content in grams per liter using this formula: alcohol_percentage * 7.89

In [47]:
wine_new['alcohol_content_grams'] = wine_new['alcohol'].apply(lambda x : x * 7.89)

In [48]:
wine_new.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,alcohol_content_grams
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03,78.9000
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06,110.9334
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01,109.3554
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17,111.4068
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15,108.4875

In [51]:
wine_new['alcohol_content_grams'].max()

np.float64(116.3775)

In [52]:
wine_new['alcohol_content_grams'].min()

np.float64(78.89999999999999)

In [59]:
indices_to_drop = wine_new[wine_new['alcohol_content_grams'] < 100].index

In [60]:
wine_new = wine_new.drop(indices_to_drop)

In [61]:
wine_new['alcohol_content_grams'].min()

np.float64(100.1241)