Visualizations:
Help with data intepretation.


Bar (stacked) chart - compare categories, highligh difference in magnitude, show rankings
Line chart - trend over time,seasonality,cyclic patterns(fluctuations)
Pie chart/Donut charts - proportions(parts of a whole)
Histogram - distribution of continuois variable(s), Outliers as a factor of spread, measures of central tendencies
Scatter Plot
Box Plot
KDE Plots
Heat maps
Tree maps
Word clouds
Violin Plots

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Awendi Joy\OneDrive\Documents\Py Data\Visualizations\commodity_futures.csv")

In [3]:
df.head()

,Date,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,...,ZINC,ULS DIESEL,NICKEL,WHEAT,SUGAR,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
0,2000-01-03,NaN,NaN,NaN,NaN,456.50,200.75,NaN,NaN,NaN,...,1237.50,NaN,8446.0,247.50,6.10,NaN,116.50,55.975,274.25,51.07
1,2000-01-04,2.176,283.7,25.55,24.39,464.25,203.00,0.8480,5.375,213.50,...,1215.00,67.78,8314.0,247.25,5.77,NaN,116.25,55.625,274.00,50.73
2,2000-01-05,2.168,282.1,24.91,23.73,469.25,203.00,0.8565,5.210,213.00,...,1209.25,66.55,8307.0,249.75,5.81,NaN,118.60,55.075,276.25,51.56
3,2000-01-06,2.196,282.4,24.78,23.62,468.00,203.75,0.8530,5.167,211.25,...,1212.00,66.28,8252.0,248.50,5.77,NaN,116.85,55.175,275.00,52.08
4,2000-01-07,2.173,282.9,24.22,23.09,471.50,207.00,0.8540,5.195,205.25,...,1209.25,64.75,8174.0,251.75,5.84,NaN,114.15,55.625,277.75,53.96

In [5]:
import matplotlib.pyplot as plt

In [6]:
import matplotlib

In [8]:
matplotlib.__version__

'3.10.6'

In [10]:
Date = pd.to_datetime(df['Date'])

In [9]:
fig =plt.figure(figsize=(8,5))

In [11]:
Date.dtype

dtype('<M8[ns]')

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(df['Date'], df['Gold'])
plt.show()